.frame1
{
position:absolute;
background-color:#d9d9d9;
height:1080px;
width:1920px;
padding:0px;
}
.poisk
{
background-color:#ffffff;
height:515px;
width:322px;
left:200px;
top:197px;
position:absolute;
border-radius: 12px;
}
.osnovnoe
{
background-color:#ffffff;
height:345px;
width:1148px;
top:367px;
left:566px;
position:absolute;
border-radius: 12px;
}
.исполнитель
{
color:#02081a;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:218px;
top:304px;
width:164px;
height:22px;
position:absolute;
letter-spacing:8.5px;
line-height:10px;
border-style:hidden;
outline:none;
font-family: Tahoma;
}
.поискпокаталогу
{
color:#02081a;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:218px;
top:215px;
width:261px;
height:22px;
position:absolute;
letter-spacing:8.5px;
line-height:30px;
border-style:hidden;
outline:none;
font-family: Tahoma;
font-weight: 900; 
}
.rectangle1
{
background-color:#00d7a3;
height:135px;
width:1920px;
position:absolute;
top:0px;
left:0px;
}
.image1
{
height:139px;
width:139px;
position:absolute;
top:-4px;
left:0px;
}
.vinylmagazin
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:35px;
font-family:Inter;
left:144px;
top:14px;
width:201px;
height:105px;
position:absolute;
line-height:35px;
border-style:hidden;
outline:none;
font-family: Tahoma;
font-weight: 900; 
}
.image2
{
height:49px;
width:50px;
left:1640px;
top:51px;
position:absolute;
}
.number
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:Inter;
left:1313px;
top:25px;
width:247px;
height:30px;
position:absolute;
line-height:100.02273321151733px;
border-style:hidden;
outline:none;
font-family: Tahoma;
}
.rectangle4
{
background-color:#c6c6c6;
height:38px;
width:283px;
border-radius:5px;
top:330px;
left:218px;
position:absolute;
}
.альбом
{
color:#02081a;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:218px;
top:404px;
width:95px;
height:22px;
position:absolute;
letter-spacing:8.5px;
line-height:10px;
border-style:hidden;
outline:none;
font-family: Tahoma;
}
.rectangle5
{
background-color:#c6c6c6;
height:38px;
width:283px;
border-radius:5px;
top:430px;
left:218px;
position:absolute;
}
.жанр
{
color:#02081a;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:218px;
top:504px;
width:68px;
height:22px;
position:absolute;
letter-spacing:8.5px;
line-height:10px;
border-style:hidden;
outline:none;
font-family: Tahoma;
}
.rectangle6
{
background-color:#c6c6c6;
height:38px;
width:283px;
border-radius:5px;
top:530px;
left:218px;
position:absolute;
}
.year
{
color:#02081a;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:218px;
top:595px;
width:156px;
height:22px;
position:absolute;
letter-spacing:8.5px;
line-height:30px;
border-style:hidden;
outline:none;
font-family: Tahoma;
}
.rectangle7
{
background-color:#c6c6c6;
height:38px;
width:283px;
border-radius:5px;
top:630px;
left:218px;
position:absolute;
}

#locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
